{% extends 'base.html' %}

{% block content %}
    <div class="container user_addresses">
        <div class="content-holder orders">
            <h1>Address</h1>
            <hr class="line">
            <p>Town: {{ address.town }}</p>
            <p>Street: {{ address.street }}</p>
            <p>Building: {{ address.building }}</p>
            <p>Apartment: {{ address.apartment }}</p>
            <p>Block: {{ address.block }}</p>
            <p>Floor: {{ address.floor }}</p>
            <a href="/user/address"> Go back </a>
        </div>
    </div>

    <a href="/user/address"> Go back </a>
{% endblock %}