{% extends 'base.html' %}

{% block content %}
    <h1>{{ dish.category_name }}</h1>
    <div class="container user_addresses">
        <div class="content-holder orders menu">
            <h2>{{ dish.dish_name }}</h2>
            <hr class="line">
            <p>Price: {{ dish.price }}</p>
            <p>Kcal: {{ dish.kcal }}</p>
            <p>Proteins: {{ dish.proteins }}</p>
            <p>Fats: {{ dish.fats }}</p>
            <p>Carbs: {{ dish.carbs }}</p>
            <a href="/menu/{{ dish.category.category_name }}/{{ dish.id }}/review"> Rate </a>
            <a href="/menu/{{ dish.category.category_name }}"> Go back </a>
            <form method="post" action="/cart/add">
                <input type="hidden" name="dish_id" value="{{ dish.id }}">
                <input class="submit__button" type="submit" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock %}