<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Logout</title>
</head>
<body>
    <header>

    </header>

    <main class="container user_page">
        <div class="content-holder">
            <p class="welcome">Do you want to log out?</p>
            <ul class="user_page_list" style="align-items: center">
                <li>
                    <a href="/user"> Back to account</a>
                </li>
                <li>
                    <form method="post">
                        <input class="log_out" type = submit>
                    </form>
                </li>
            </ul>
        </div>
    </main>

</body>
</html>