<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Register</title>
</head>
<body>
    <header>

    </header>
    <main class="container user_page">
        <h1 class="title">
            Registration
        </h1>
        <div class="content-holder">
            <form class="register__form" method = "POST">
                <label>
                    <input type="text" name="name" placeholder="Name">
                </label>
                <label>
                    <input type="text" name="phone" placeholder="Phone">
                </label>
                <label>
                    <input type="text" name="email" placeholder="E-Mail">
                </label>
                <label>
                    <input type="password" name="password" placeholder="Password">
                </label>
                <label>
                    <input type="text" name="telegram" placeholder="Telegram">
                </label>
                <input class="submit__button" type = submit>
            </form>
        </div>
    </main>

</body>
</html>